[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "fuzzr"]
	path = fuzzr
	url = https://github.com/mdlincoln/fuzzr
	shallow = true
	registered = true
[submodule "clipr"]
	path = clipr
	url = https://github.com/mdlincoln/clipr
	shallow = true
	registered = true
[submodule "europop"]
	path = europop
	url = https://github.com/mdlincoln/europop
	shallow = true
	registered = true
[submodule "hypothesisr"]
	path = hypothesisr
	url = https://github.com/mdlincoln/hypothesisr
	shallow = true
	registered = true
[submodule "salty"]
	path = salty
	url = https://github.com/mdlincoln/salty
	shallow = true
	registered = true
