[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clipr"]
	path = clipr
	url = https://github.com/mdlincoln/clipr
[submodule "europop"]
	path = europop
	url = https://github.com/mdlincoln/europop
[submodule "fuzzr"]
	path = fuzzr
	url = https://github.com/mdlincoln/fuzzr
[submodule "hypothesisr"]
	path = hypothesisr
	url = https://github.com/mdlincoln/hypothesisr
[submodule "salty"]
	path = salty
	url = https://github.com/mdlincoln/salty
